<h1>Server status: {{ status }}</h1>
<div class="app" *ngIf="this.isConnected">
  <div class="container">
    <form action="javascript:void()" [formGroup]="Form">
      <mat-card class="container">
        <mat-form-field class="input">
          <input
            matInput
            placeholder="First Name"
            id="first-name"
            formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field class="input">
          <input
            matInput
            placeholder="Last Name"
            id="last-name"
            formControlName="lastName"
          />
        </mat-form-field>
        <mat-form-field class="input">
          <input
            matInput
            formControlName="birth"
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker"
            placeholder="Date of birth (Month/Day/Year)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input">
          <input
            type="tel"
            matInput
            placeholder="Telephone"
            formControlName="mobile"
            ngxPhoneMask
          />
        </mat-form-field>
        <mat-form-field class="input">
          <input
            matInput
            placeholder="Enter your email"
            formControlName="email"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSubmit()"
          [disabled]="!Form.valid"
        >
          Send
        </button>
      </mat-card>
    </form>
  </div>
  <button mat-raised-button color="warn" (click)="toggleData()">
    {{ toggleText }}
  </button>
  <div *ngIf="showData">
    <div *ngIf="!isEmpty; else empty">
      <h1>Data:</h1>
      <ul>
        <li *ngFor="let item of l_state">
          <h3>User id: {{ item.id }}</h3>
          <ul>
            <li>First Name: {{ item.info.first_name }}</li>
            <li>Last Name: {{ item.info.last_name }}</li>
            <li>Date of birth: {{ item.info.birth }}</li>
            <li>
              Phone number:
              <a href="tel: {{ item.info.mobile }}">{{ item.info.mobile }}</a>
            </li>
            <li>
              Email Adress:
              <a href="mailto: {{ item.info.email }}">{{ item.info.email }}</a>
            </li>
            <li>Was created: {{ item.info.created }}</li>
          </ul>
          <button
            mat-raised-button
            color="primary"
            (click)="deleteBtn(item.id)"
          >
            Delete
          </button>
          <button mat-raised-button color="accent" (click)="editBtn(item.id)">
            Edit
          </button>
        </li>
      </ul>
    </div>
    <ng-template #empty> No data to retrieve </ng-template>
  </div>
  <div *ngIf="isEdit" class="editForm">
    <form action="javascript:void()" [formGroup]="editForm">
      <mat-card class="container editForm">
        <mat-form-field class="input">
          <input
            matInput
            placeholder="First Name"
            id="first-name"
            formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field class="input">
          <input
            matInput
            placeholder="Last Name"
            id="last-name"
            formControlName="lastName"
          />
        </mat-form-field>
        <mat-form-field class="input">
          <input
            matInput
            formControlName="birth"
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker"
            placeholder="Date of birth (Month/Day/Year)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input">
          <input
            type="tel"
            matInput
            placeholder="Telephone"
            formControlName="mobile"
            ngxPhoneMask
          />
        </mat-form-field>
        <mat-form-field class="input">
          <input
            matInput
            placeholder="Enter your email"
            formControlName="email"
          />
        </mat-form-field>
        <div class="edit-buttons">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="onEdit()"
            [disabled]="!editForm.valid"
          >
            Send
          </button>
          <button mat-raised-button id="cancel" (mousedown)="cancelEditing()">
            Cancel
          </button>
        </div>
      </mat-card>
    </form>
  </div>
</div>
