<h1>Server status: {{ status }}</h1>
<div class="app" *ngIf="this.isConnected">
  <div class="container">
    <form action="javascript:void()" [formGroup]="Form" (submit)="onSubmit()">
      <label for="first-name">First Name</label>
      <input type="text" id="first-name" formControlName="firstName">
      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" formControlName="lastName" />
      <label for="birth">Date</label>
      <input type="text" formControlName="birth">
      <span *ngIf="Form.controls.birth.invalid && Form.controls.birth.touched">Example: 24.10.1997</span>
      <label for="mobile">Mobile</label>
      <input type="number" formControlName="mobile" />
      <label for="email">Email</label>
      <input type="text" formControlName="email" />
      <button type="submit" [disabled]="!Form.valid">Send</button>
    </form>
  </div>
  <button (click)="toggleData()">{{toggleText}}</button>
  <div *ngIf="showData">
    <div *ngIf="!isEmpty; else empty">
      <h1>Data:</h1>
      <ul>
        <li *ngFor="let item of l_state">
          <h3>User id: {{ item.id }}</h3>
          <ul>
            <li>First Name: {{ item.info.first_name }}</li>
            <li>Last Name: {{ item.info.last_name }}</li>
            <li>Date of birth: {{ item.info.birth }}</li>
            <li>Phone number: {{ item.info.mobile }}</li>
            <li>Email Adress: {{ item.info.email }}</li>
            <li>Was created: {{ item.info.created }}</li>
          </ul>
          <button (click)="deleteBtn(item.id)">Delete</button>
          <button (click)="editBtn(item.id)">Edit</button>
        </li>
      </ul>
    </div>
    <ng-template #empty> No data to retrieve </ng-template>
  </div>
  <div *ngIf="isEdit" class="editForm">
    <form action="javascript:void()" [formGroup]="editForm" (submit)="onEdit()">
      <label for="first-name">First Name</label>
      <input type="text" id="first-name" formControlName="firstName" />
      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" formControlName="lastName" />
      <label for="birth">Date</label>
      <input type="text" formControlName="birth" />
      <label for="mobile">Mobile</label>
      <input type="number" formControlName="mobile" />
      <label for="email">Email</label>
      <input type="text" formControlName="email" />
      <button type="submit" [disabled]="!editForm.valid">Send</button>
    </form>
    <button id="cancel" (click)="cancelEditing()">Cancel</button>
  </div>
</div>
