form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: 1px solid gray
    width: 500px
    margin: 20px
    padding: 10px
    input
        width: 200px
        padding: 5px
        margin: 10px 0
button
    width: 100px
    height: 25px
    background-color: black
    color: orange
    border: 0
    outline: 0
    margin: 5px
    cursor: pointer
.container
    width: 100%
    display: flex
    justify-content: center
    align-items: center
.editForm
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    form
        background-color: gray
    #cancel
        position: absolute
        top: 15px
        right: 15px